

#logo{
	position: absolute;
	top: 35%;
	left: 35%;
}

body{
	margin:0;
}

h2{
	font-size: 40px;
	text-align: center;
}

p{
	font-size: 21px;
	text-align: left;
}

div{
	width: 35%;
	margin: 8%;
}

.columnas{
	position: relative;
	left: 25%;

	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;

	-webkit-column-gap: 5em; 
    -moz-column-gap: 5em;
    column-gap: 5em;

    text-align: center;
}

.pie-derecha{
	position: absolute;
	left: 85%;
}

.pie-centro{
	position: absolute;
	left: 50%;
}

footer{
	font-weight: bold;

}

#deuda{
	background-color: rgb(240, 242, 241);
	margin: 0;
	height: 560px;
	width: 143%;
}

#monto{
	margin: 10%;
	padding-top: 8%;
}

#mapa{
	position: absolute;
	top: 10%;
	left: 16%;
}

h3{
	font-size: 25px;
}

#p6{
	position: absolute;
	left: 45%;
	top: 490%
}

#gobs{
	margin: 10%;
	padding-top: 2%;
}

#gobernadores{
	background-color: rgb(240, 242, 241);
	margin: 0;
	height: 1200px;
	width: 143%;
}

#aviso{
	text-align: center;
	padding-top: 5%;
	font-size: 20px;
}
