

#logo{
	position: absolute;
	top: 61%;
	left: 52%;
}

body{
	margin:0;
}

h2{
	font-size: 40px;
	text-align: center;
}

p{
	font-size: 21px;
	text-align: left;
}

div{
	width: 35%;
	margin: 8%;
}

#p3{
	position: absolute;
	top: 226%;
	left: 45%;
}

#pie{
	position: absolute;
	left: 70%;
	top: 190%; 
}

footer{
	font-weight: bold;
}

#deuda{
	background-color: rgb(240, 242, 241);
	margin: 0;
	height: 560px;
	width: 143%;
}

#monto{
	margin: 10%;
	padding-top: 8%;
}

#mapa{
	position: absolute;
	top: 17%;
	left: 23%;
}

h3{
	font-size: 25px;
}

#p6{
	position: absolute;
	left: 45%;
	top: 490%
}